/* Grundlegende Gestaltung */
body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  background: #f2e8cf; /* Heller Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Kalender-Layout */
.calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 Spalten */
  gap: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background-color: #f2e8cf; /* Weißer Hintergrund für den Kalender */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Leichter Schatten für das Layout */
}

/* Einzelne Tageskästchen */
.day-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bc4749; /* Grüne Farbe für die Tage */
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.day-box:hover {
  transform: scale(1.1); /* Leichte Vergrößerung beim Hover */
}

/* "Abgeschlossene" Tage */
.day-box.opened {
  background-color: #61b07d; /* Andere Farbe für die geöffneten Tage */
  text-decoration: line-through;
}

/* Modal für die Antwortmöglichkeiten */
.answer-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  max-width: 500px;
}

.answer-modal .close-button {
  background-color: #bc4749;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.answer-modal .close-button:hover {
  background-color: #e00000;
}

/* Option-Buttons im Modal */
.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-button {
  background-color: #bc4749;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.option-button:hover {
  background-color: #bc4749;
}

.image-box img {
  width: 100%;
  max-width: 400px; /* Limit der Bildgröße */
  height: auto;
  border-radius: 8px;
}

/* Für mobile Geräte: */
@media (max-width: 600px) {
  /* Anpassungen für kleinere Bildschirme */
  .calendar {
    grid-template-columns: repeat(3, 1fr); /* Weniger Spalten für kleinere Geräte */
    padding: 10px;
  }

  .day-box {
    font-size: 18px; /* Kleinere Zahlen für mobile Geräte */
    padding: 15px;
  }

  .answer-modal {
    width: 90%; /* Größer für kleine Bildschirme */
  }

  .option-button {
    font-size: 14px; /* Kleinere Schriftgröße für mobile Geräte */
    padding: 10px;
  }
}
